<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>SSOAuth</servlet-name>
		<servlet-class>com.sso.servlet.SSOAuthServlet</servlet-class>
		<init-param>
			<param-name>domainname</param-name>
			<param-value>localhost</param-value>
		</init-param>
		<init-param>
			<param-name>cookiename</param-name>
			<param-value>WangYuDesktopSSOID</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SSOAuth</servlet-name>
		<url-pattern>/SSOAuth</url-pattern>
	</servlet-mapping>
</web-app>
